{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "bracketSpacing": true,
  "tslintIntegration": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
